<head>
  <link href="https://fonts.gstatic.com" rel="preconnect">
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500&display=swap" rel="stylesheet">
  <title>Список сотрудников</title>
</head>

<div>
  <app-form-add-worker
    (addWorker)="onAddWorker($event)"
  ></app-form-add-worker>

  <app-form-redact-worker
    (changeWorker)="onRedactWorker($event)"
    (closeRedact)="onCloseRedact()"
    [id]="redactID"
    [mode]="redactMode"
    [worker]="redactWorker"
  ></app-form-redact-worker>

  <div class="filter">
    <input
      [(ngModel)]="filterValue"
      name="filter"
      placeholder="Введите имя или фамилию"
    />
  </div>

  <app-table-workers
    (deleteWorker)="onDeleteWorker($event)"
    (openRedact)="onOpenRedact($event)"
    [filterValue]="filterValue"
    [title]="'Программисты'"
    [workers]="grtByType(workerType.programmer)"
  ></app-table-workers>

  <app-table-workers
    (deleteWorker)="onDeleteWorker($event)"
    (openRedact)="onOpenRedact($event)"
    [filterValue]="filterValue"
    [title]="'Дизайнеры'"
    [workers]="grtByType(workerType.designer)"
  ></app-table-workers>

  <app-table-workers
    (deleteWorker)="onDeleteWorker($event)"
    (openRedact)="onOpenRedact($event)"
    [filterValue]="filterValue"
    [title]="'Рекламщики'"
    [workers]="grtByType(workerType.copywriter)"
  ></app-table-workers>

  <app-table-workers
    (deleteWorker)="onDeleteWorker($event)"
    (openRedact)="onOpenRedact($event)"
    [filterValue]="filterValue"
    [title]="'Менеджеры'"
    [workers]="grtByType(workerType.manager)"
  ></app-table-workers>
</div>

