<h1>{{title}}</h1>

<app-table-workers
  [title]="'Программисты'"
  [workers]="grtByType(workerType.programmer)"
  (deleteWorker)="onDeleteWorker($event)"
></app-table-workers>

<app-table-workers
  [title]="'Дизайнеры'"
  [workers]="grtByType(workerType.designer)"
  (deleteWorker)="onDeleteWorker($event)"
></app-table-workers>

<app-table-workers
  [title]="'Рекламщики'"
  [workers]="grtByType(workerType.copywriter)"
  (deleteWorker)="onDeleteWorker($event)"
></app-table-workers>

<app-table-workers
  [title]="'Менеджеры'"
  [workers]="grtByType(workerType.manager)"
  (deleteWorker)="onDeleteWorker($event)"
></app-table-workers>
