<div *ngIf="mode">
  <h1>Редактирование</h1>
  <div class="form">
    <input
      [(ngModel)]="name"
      placeholder="{{worker.name}}"
      required
      type="text"
    />
    <input
      [(ngModel)]="surname"
      placeholder="{{worker.surname}}"
      required
      type="text"
    />
    <select [(ngModel)]="type">
      <option [ngValue]="workerType.programmer">Программист</option>
      <option [ngValue]="workerType.designer">Дизайнер</option>
      <option [ngValue]="workerType.copywriter">Рекламщик</option>
      <option [ngValue]="workerType.manager">Менеджер</option>
    </select>
  </div>
  <div class="row">
    <button (click)="onChangeWorker()" class="save">Сохранить</button>
    <button (click)="onCloseRedact()" class="cancel">Отмена</button>
  </div>
</div>
